<!DOCTYPE html>
<html>
  <head>
    <title>Goodquote</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="mainflex">
      <div class="randomquotes">
        <h1>goodquotes</h1>
        <p>"this is such a good site" - einstein</p>
        <p>"magical" - jk rollin</p>
        <p>"i endorse this website" - barac obam</p>
        <p>"this is the future" - eelawn mask</p>
        <p>"this is better than data" - marcc zukkenberk</p>
        <p>"i will buy this website" - jef beznos</p>
        <p>"I will hire whoever made this website" - future employer</p>
        <p>"i made this website" - rishav</p>
      </div>
      <div class="otherpage">
        <h1>Pick a category for a new quote</h1>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
